// _sass/_personal.scss



.page-content {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 992px) {
  .page-content {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0;
  }
}