// _sass/_personal.scss

.personal-posts-list {
    .post-card {
      border: 1px solid #ddd;
      padding: 20px;
      margin-bottom: 20px;
  
      // .post-link {
      //   font-weight: bold;
      // }
  
      .post-excerpt {
        color: #666;
      }
  
      .post-meta {
        color: #999;
      }
    }

    .post-image {
      
      max-height: 355px; 
      
    }
    .post-card h4{
      margin-bottom: 0;
    }
  }

  .page-content {
    padding-left: 0;
    padding-right: 0;
  }
  
  @media (min-width: 992px) {
    .page-content {
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 0;
    }
  }