# Force rebuild
backend:
  name: github
  repo: RDjarbeng/rdjarbeng.github.io
  branch: main
  base_url: https://sveltia-cms-auth.richarddjarbeng.workers.dev/

site_url: https://rdjarbeng.com/
media_folder: "assets/images"
public_folder: "/assets/images"

slug:
  encoding: 'ascii'
  clean_accents: true
  sanitize_replacement: '-'

collections:
  - name: 'posts'
    label: 'Posts'
    folder: '_posts'
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    editor:
      preview: true
    view_filters:
      - label: 'Drafts'
        field: 'published'
        pattern: false
      - label: 'Published posts'
        field: 'published'
        pattern: true
    fields:
      - { label: 'Publish Date', name: 'date', widget: 'datetime', default: '{{now}}' }
      - { label: 'Published', name: 'published', widget: 'boolean', default: true }
      - {
          label: 'Author',
          name: 'author',
          widget: 'relation',
          collection: 'authors',
          display_fields: [display_name],
          search_fields: [display_name],
          default: 'Richard',
          value_field: 'short_name'
        }
      - {
          label: 'Category',
          name: 'categories',
          widget: 'list',
          allow_add: true,
          max: 1,
          field: { label: 'Category', name: 'category', widget: 'string', default: 'Technology', hint: 'Enter a category (e.g., Technology, Science, Programming, AI)' },
          default: ['Technology']
        }
      - {
          label: 'Tags',
          name: 'tags',
          widget: 'list',
          allow_add: true,
          # field: { label: 'Tag', name: 'tag', widget: 'string', hint: 'Enter a tag or select from suggestions' },
          default: []
        }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
      # - { label: 'Image', name: 'image', widget: 'image', required: false }
      - label: 'Image'
        name: 'image'
        widget: 'image'
        required: false
        media_libraries:
          default:
            config:
              transformations:
                raster_image:
                  format: webp
                  quality: 85
      - { label: 'Image Alt Text', name: 'image_alt', widget: 'string', required: false, hint: 'Alt text for the cover image' }
      - { label: 'Layout', name: 'layout', widget: 'hidden', default: 'post' }
      # - { label: 'Last Modified', name: 'last_modified_at', widget: 'datetime', required: false, hint: 'Automatically updated by GitHub Action', hidden: true }

  - name: 'personal'
    label: 'Personal'
    folder: '_personal'
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    editor:
      preview: true
    view_filters:
      - label: 'Drafts'
        field: 'published'
        pattern: false
      - label: 'Published posts'
        field: 'published'
        pattern: true
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'date', widget: 'datetime', default: '{{now}}' }
      - { label: 'Published', name: 'published', widget: 'boolean', default: true }
      - {
          label: 'Tags',
          name: 'tags',
          widget: 'list',
          allow_add: true,
          # field: { label: 'Tag', name: 'tag', widget: 'string', hint: 'Enter a tag or select from suggestions' },
          default: []
        }
      - { label: 'Body', name: 'body', widget: 'markdown' }
      - label: 'Image'
        name: 'image'
        widget: 'image'
        required: false
        media_libraries:
          default:
            config:
              transformations:
                raster_image:
                  format: webp
                  quality: 85
      - { label: 'Image Alt Text', name: 'image_alt', widget: 'string', required: false, hint: 'Alt text for the cover image' }
      - { label: 'Layout', name: 'layout', widget: 'hidden', default: 'personal' }
      # - { label: 'Last Modified', name: 'last_modified_at', widget: 'datetime', required: false, hint: 'Automatically updated by GitHub Action', hidden: true }

  - name: 'authors'
    label: 'Authors'
    folder: '_authors'
    create: true
    editor:
      preview: false
    fields:
      - { label: 'Short Name', name: 'short_name', widget: 'string' }
      - { label: 'Display Name', name: 'display_name', widget: 'string' }
      - { label: 'Position', name: 'position', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }

  - label: About
    name: about_page
    files:
      - name: 'about'
        label: 'About Page'
        file: 'about.md'
        create: false
        editor:
          preview: false
        fields:
          - { label: 'Layout', name: 'layout', widget: 'hidden', default: 'about' }
          - { label: 'Title', name: 'title', widget: 'string' }
          - { label: 'Permalink', name: 'permalink', widget: 'hidden', default: '/about/' }
          - { label: 'Custom CSS Class', name: 'custom_css_class', widget: 'string', default: 'about-page' }
          - { label: 'Body', name: 'body', widget: 'markdown' }

  - name: 'gallery'
    label: 'Gallery'
    folder: '_gallery'
    create: true
    slug: '{{slug}}'
    editor:
      preview: false
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Image', name: 'image', widget: 'image' }
      
      - label: 'Type'
        name: 'type'
        widget: 'select'
        options: 
          - { label: 'Cover Image', value: 'cover' }
          - { label: 'External Image', value: 'external' }
        default: 'cover'

      - { label: 'Caption', name: 'caption', widget: 'markdown', required: false }
      - { label: 'Link', name: 'link', widget: 'string', required: false, hint: 'For Cover Images' }
      
      - { label: 'Category', name: 'category', widget: 'select', options: ['ai-generations', 'ghana', 'other'], required: false }
      - { label: 'Labels', name: 'labels', widget: 'list', default: [], required: false }

  - name: 'gallery_videos'
    label: 'Videos'
    files:
      - name: 'gallery_videos'
        label: 'Videos'
        file: '_data/gallery_videos.yml'
        fields:
          - label: 'YouTube'
            name: 'youtube'
            widget: 'list'
            fields:
              - { label: 'Title', name: 'title', widget: 'string' }
              - { label: 'Embed Code', name: 'embed', widget: 'text' }
              - { label: 'Caption', name: 'caption', widget: 'markdown', required: false }
              - { label: 'Thumbnail', name: 'thumbnail', widget: 'image', required: false }
          
          - label: 'TikTok'
            name: 'tiktok'
            widget: 'list'
            fields:
              - { label: 'Title', name: 'title', widget: 'string' }
              - { label: 'Embed Code', name: 'embed', widget: 'text' }
              - { label: 'Caption', name: 'caption', widget: 'markdown', required: false }
              - { label: 'Thumbnail', name: 'thumbnail', widget: 'image', required: false }

          - label: 'Instagram'
            name: 'instagram'
            widget: 'list'
            fields:
              - { label: 'Title', name: 'title', widget: 'string' }
              - { label: 'Embed Code', name: 'embed', widget: 'text' }
              - { label: 'Caption', name: 'caption', widget: 'markdown', required: false }
              - { label: 'Thumbnail', name: 'thumbnail', widget: 'image', required: false }

          - label: 'Twitter/X'
            name: 'twitter'
            widget: 'list'
            fields:
              - { label: 'Title', name: 'title', widget: 'string' }
              - { label: 'Embed Code', name: 'embed', widget: 'text' }
              - { label: 'Caption', name: 'caption', widget: 'markdown', required: false }
              - { label: 'Thumbnail', name: 'thumbnail', widget: 'image', required: false }