---
layout: default
---
<!-- Categories and Tags Section add a way for the user to go back-->
<div class="categories-tags-container">
  <a href="/categories/">All Categories</a>|
  <a href="/tags/">All Tags</a>
</div>
{% assign cat_posts = posts | default: page.posts %}
{% assign cat_title = title | default: category | default: page.title %}
<h1>Posts in Category: {{ cat_title }} ({{ cat_posts | size }})</h1>

{% assign current_category = site.category_info | where: "category_name", cat_title | first %}
{% if current_category.description %}
<div class="category-description">
  {{ current_category.description | markdownify }}
</div>
{% endif %}

<div class="post-list">
  {% for post in cat_posts %}
    {% include post-card.html post=post %}
  {% endfor %}
</div>

