---
layout: default
---

<div class="home">
  <h1>Richard Djarbeng's Website</h1>
  <p>Non-technical posts are in the personal section.</p>

  <h2 class="section-title">Latest Posts</h2>
  <div class="post-list">
    {% for post in site.posts limit:4 %}
    {% include post-card.html post=post %}
    {% endfor %}

  </div>
  <a href="{{ '/posts' | relative_url }}" class="about-link">View all posts➡️</a>



  <h2 class="section-title">Personal posts</h2>
  <div class="post-list">
    {% assign sorted_posts = site.personal | sort: 'date' | reverse %}
    {% for personal in sorted_posts limit:4 %}

      {% include post-card.html post=personal %}

    {% endfor %}
  </div>

  <a href="{{ '/personal' | relative_url }}" class="about-link">All personal posts➡️</a>
</div>

<script src="/assets/js/animation.js"></script>