---
layout: default
title: Personal
permalink: /personal/
---

<div class="personal-page-intro"> Here you find personal reflections from Richard Djarbeng about Ghana, travel experience across multiple countries and discussions on non-technical areas that I find generally interesting</div>
<div class="header-container">
<h1>Personal Posts ({{ site.personal | size }})</h1>
<div id="search-container">
  <input type="text" id="search-input" placeholder="Search posts..." class="search-box">
</div>
</div>
<!-- Results container -->
<ul id="results-container" style="box-shadow: 1px solid gray;"></ul>
<div class="personal-posts-list">
  {% assign sorted_posts = site.personal | sort: 'date' | reverse %}
  {% for post in sorted_posts %}
  {% include post-card.html post=post truncate_words=45 %}
  {% endfor %}
</div>

{% include search-script.html %}
