---
layout: default_plain
type: "CollectionPage"
description: "This page lists all the posts for the tag -{{ page.title }} on Richard Djarbeng's website"
---
<!-- Categories and Tags Section add a way for the user to go back-->
<div class="categories-tags-container">
  <a href="/categories/">All Categories</a> |
  <a href="/tags/">All Tags</a>
</div>
<h1>Posts Tagged with: {{ page.title }} ({{ page.posts | size }})</h1>

<div class="post-list">
  {% for post in page.posts %}
    {% include post-card.html post=post %}
  {% endfor %}
</div>