---
layout: default
type: "CollectionPage"
description: "This page lists all the posts for the tag -{{ page.title }} on Richard Djarbeng's website"
---
<!-- Categories and Tags Section add a way for the user to go back-->
<div class="categories-tags-container">
  <a href="/categories/">All Categories</a> |
  <a href="/tags/">All Tags</a>
</div>
{% assign tag_posts = page.posts | default: posts %}
{% assign tag_title = page.title | default: title %}
<h1>Posts Tagged with: {{ tag_title }} ({{ tag_posts | size }})</h1>

<div class="post-list">
  {% for post in tag_posts %}
    {% include post-card.html post=post %}
  {% endfor %}
</div>